body{
    font-size:3rem;
}
footer ul li{
    list-style:none;
}

.nav-container{
    display: flex;
    justify-content: space-between;

}

@media (min-width:768px){
    body {
        font-size:14px;
    }
}


footer {
    margin-top: 16px;
    background-color: #222222;
    padding: 30px 0px;
}

    footer ul {
        list-style: none;
        margin: 0 auto;
        display: inline-block;
        padding-top: 50px;
    }


            footer ul li {
                color: #fff;
                padding: 20px;
            }

                footer ul li a:hover {
                    color: #7dabdb;
                    text-decoration: none;
                }

.footer-top {
    padding-bottom: 50px;
}

    .footer-top .fa {
        font-size: 18px;
        color: #FFF;
        padding-right: 10px;
    }

    .footer-top a {
        color: #FFF;
        text-decoration: none;
    }

    .footer-top .col-lg-2:hover .fa,
    .footer-top .col-lg-2:hover a {
        color: #7dabdb;
    }

.copyright {
    background-color: #f0f0f0;
}

    .copyright p {
        font-size: 12px;
        padding: 15px 0 10px 0;
    }